<ion-menu [content]="variableContenedor">
  <ion-content>
    <div class="fondo">
      <div class="contenedor_p">
        <img src="/assets/imgs/avatar.png" >
        <br>
        <p>William</p>
        <br>
        @William
      </div>
    </div>
    <div class="menu"></div>



    <ion-list-header>
      menú principal
    </ion-list-header>
    <ion-list>
      <ion-item-divider>
        Explorar
      </ion-item-divider>
      <ion-item-divider>
        Reseñas
      </ion-item-divider>
      <ion-item-divider>
        Planear Ruta
      </ion-item-divider>
      <ion-item-divider>
        Amigos
      </ion-item-divider>
      <ion-item-divider>
        Mensajes
      </ion-item-divider>
    </ion-list>
  </ion-content>
</ion-menu>
