<ion-menu [content]="variableContenedor">
  <ion-content>
    <div class="fondo">
      <div class="contenedor_pi">
        <img src="/assets/imgs/avatar.png">
        <h3>Hola Usuario</h3>
        <h4>@Usuario</h4>
      </div>
    </div>
    <linea-menu [recta]="true"></linea-menu>
    <div class="menu"></div>

    <div class="container-menu">
        <div class="row-menu" (click)="goPage('HomePage')">
          <div>
            <img class="icono" src="./assets/svgs/point.svg">
          </div>
          <div >Explorar</div>
        </div>
      <div class="row-menu" (click)="goPage('ExplorarResenasPage')">
        <div>
          <img class="icono" src="./assets/svgs/corazon.svg">
        </div>
        <div >Reseñas</div>
      </div>
      <div class="row-menu">
        <div>
          <img class="icono" src="./assets/svgs/plan.svg">
        </div>
        <div >Planear Rutas</div>
      </div>

      <div class="row-menu">
        <div>
          <img class="icono" src="./assets/svgs/amigos.svg">
        </div>
        <div >Amigos</div>
      </div>
      <div class="row-menu">
        <div>
          <img class="icono" src="./assets/svgs/mensajes.svg">
        </div>
        <div >Mensajes</div>
      </div>
      <div class="row-menu">
        <div>
          <img class="icono" src="./assets/svgs/acerca.svg">
        </div>
        <div >Acerca de..</div>
      </div>
      <div class="row-menu">
        <div>
          <img class="icono" src="./assets/svgs/logout.svg">
        </div>
        <div >Logout</div>
      </div>

    </div>
  </ion-content>
</ion-menu>
