page-splash {
  height: 100%;
}

.imgBackground {
  background-image: url("../assets/imgs/splash-image.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1 !important;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.8);

}
.opacity {
  background-color: rgba(31, 44, 44, 0.6);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

img{
  width: 108px;
  height: 53px;
}


.img-position{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 30%;
}


.flex-container{
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50%;
  text-align: center;

}

.whiteLetter {
  color: white;
}

.titulo{
  font-family: 'Muli';
  font-weight: 300;
  font-size: 52pt;
}

.descripcion{
  font-family: 'Muli';
  font-weight: 300;
  font-size: 14pt;
}

.mensajepequenio{
  font-family: 'Muli';
  font-weight: 300;
  font-size: 12pt;
}
.botonSplash{
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  height: 50px;
}
.emailSplash{
  background-color: #3ACCE1;
}
.fcbSplash{
  background-color: #353A50;
}
