<div class="contenedor">
  <linea-menu></linea-menu>

  <div class="container-grid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 whiteLetter">
          <span class="h3">Seleccione una opción:</span>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 whiteLetter">
          <div class="button-menu flex-bton">
            <div class="box1">
              <img class="imagen_center" src="assets/svgs/user_resena.svg">
            </div>
            <div>
              <span>Listar reseñas compartidas</span>
            </div>
          </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 whiteLetter">
        <div class="button-menu flex-bton">
          <div class="box1">
            <img class="imagen_center" src="assets/svgs/ver_resena.svg">
          </div>
          <div>
            <span>Ver mis reseñas</span>
          </div>
        </div>
      </div>

    </div>
    <div class="row horizontal-center">
      <div class="col-sm-12 col-xs-12 " style="text-align: center;font-size: 22px;">
        <span class="whiteLetter">De click en el mapa para agregar reseña</span>
      </div>
    </div>
  </div>

</div>
