page-home {
  .center-title{
    margin: 0 !important;
    padding: 0 !important;
  }

  .center-title>*{
    position:relative;
    margin: 0 !important;
    padding: 0 !important;
    left: -10px;
  }
}
