<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="toogleNav()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="center-title" text-center >Reseña</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="royal"  (click)="logout()"   navPop>
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<menu-opciones [variableContenedor]="menuPrincipal"></menu-opciones>

<ion-content #menuPrincipal>


  <agm-map [styles]="style" [latitude]="4.685789659010489" [longitude]="-74.06390221757619" [streetViewControl]="false"
             [zoom]="15"  (mapDblClick)="addResena($event)">


    <agm-marker *ngFor="let value of points | async" [iconUrl]="(value.calificacion==1?marker.red:(value.calificacion==2?marker.orange:marker.green))"  [latitude]="value.cordenadas.lat" [longitude]="value.cordenadas.lng">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>

          <div class="custom-img">
            <img  *ngIf="value.image" src="{{'data:image/jpeg;base64,'+value.imagen}}" style="width: 150px;height: 150px">
          </div>
          <section class="custom-content">
            <h1 class="custom-header">

            </h1>
            <div class="custom-body">{{value.descripcion}}</div>
          </section>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>


  </agm-map>
<menu-inferior-resena></menu-inferior-resena>

</ion-content>
